.generate-password-button {
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  background: #43a047;
  color: #fff;
  border-radius: 4px;
  height: 40px;
  border: none;
  text-transform: uppercase;

  &:active {
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    background: #CCFFCC;
  }
}