.password-settings {
  margin-top: 20px;

  &__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 10px;

  }

  &__item {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;

    & input {
      cursor: pointer;
    }
  }
}